/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", Courier, monospace; /* Use "Courier New" font */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

nav li {
    display: inline;
    margin: 10px;
}

section {
    padding: 20px;
}

/* Add space before paragraphs */
p {
    margin-top: 10px; /* Adjust the value as needed */
    font-size: 14px;
}

.portfolio-item {
    margin-bottom: 20px; /* Adjust the margin as needed */
}

figure {
    display: table;
}

img {
    margin: 0;
    padding: 0;
    max-width: 100%; 
}


figcaption {
    font-size: 14px;
    color: #777;
    text-align: left;
    margin: 0;
    padding: 0;
    display: table-caption;
    caption-side: bottom;
}

.image-class {
    width: auto;
    height: 250px;
    margin: 0;
    padding: 0;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    nav {
        text-align: center;
        padding: 10px;
    }

        nav ul {
            padding-top: 10px;
        }

        nav li {
            display: block;
            margin-bottom: 10px;
        }
}
